@import './reset.scss';
@import '../style/variables.scss';
@import '../style/mixin.scss';
@import '../components/Category/style/category.scss';
@import '../components/Navbar/style/navbar.scss';
@import '../components/pdp/style/pdp.scss';
.App{
    margin: 0% 7%;
}
a{
    text-decoration: none;
    color: black;
}