body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 12vh;
}
.navbar > div {
  width: 30%;
}
.navbar > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar .categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5%;
}
.navbar .categories p {
  padding: 10px 0px;
  cursor: pointer;
}
.navbar .categories :hover {
  border-bottom: 1px solid #5ECE7B;
  color: #5ECE7B;
}
.navbar .categories :focus-within {
  border-bottom: 1px solid #5ECE7B;
  color: #5ECE7B;
}
.navbar .currencies {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 5%;
}
.navbar .currencies div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.App {
  margin: 0% 6%;
}